.banner {
  // height: 80vh;
  // padding-top: 2vmin;
  // padding-bottom: 2vmin;
  background-color: #fef4fb;

  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  // .home__h-img {
  //   width: 690px;
  // }

  // .home__h-info>h1 {
  //   font-size: 40px;
  //   margin-bottom: 38px;
  //   user-select: none;

  //   span {
  //     font-weight: 400;
  //   }
  // }

  // .cart {
  //   border-radius: 22px;
  //   color: white;
  // }
}

//----------------------------SERVICES-----------------
.service__detail{
  background-color: var(--fade-yl-bg);
  height: 150px;
  // border: 1px solid black;
  position: relative;
  position: relative;

  .services__option {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    border-radius: 5px;
    padding: 2vmax 0;
    color: #8bc54b;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.184);
  //  width: 90%;
  
    &:last-child {
      border-right: none;
    }
  
    .ser {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      align-items: center;
      width: 280px;

      h4{
        font-size: 20px;
        font-weight: 500;
        color: black;
      }
      p{
        font-size: 18px;
        
      }
  
      svg {
        font-size: 2.3rem;
        margin-bottom: 3px;
      }
  
      .desc {
        font-size: 12px;
      }
    }
  
    .ser.ser-3 {
      border-right: none;
    }
  }
}

// ----------------------PRODUCTS---------------
.products {
  background-color: #ffff;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

  .products__container {
    .product__heading {
      padding: 30px 0px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EDEDED;

        h1 {
          font-size: 30px;
          font-weight: 400;
          display: inline;
          border-bottom: 2px solid #54B22C;
        }
      }
    }

    .products__cards {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 21%;

      // padding: 0 (2rem) (2rem);
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .feature__product {
      margin-top: 36px;
    }
  }

  .products__container>h3 {
    color: var(--primary-black);
    margin-bottom: 35px;
    text-align: center;
    font-size: 38px;

    span {
      margin-left: 0.5vmax;
      font-size: 12px;
      background-color: var(--primary-pink);
      border-radius: 15px;
      padding: 0.5vmin 1vmin;
      color: white;
      font-weight: 300;
    }
  }

  .right__btn {
    position: absolute;
    top: 28%;
    right: 6%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vmax;
    cursor: pointer;

    font-size: 2rem;
  }

  .left__btn {
    position: absolute;
    top: 28%;
    left: 6%;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vmax;
    cursor: pointer;

    font-size: 2rem;
  }

  .scroll__buttons-2 {
    .right__btn {
      position: absolute;
      top: 74%;
      right: 6%;
      background-color: white;
      border-radius: 50%;
      padding: 0.5vmax;
      cursor: pointer;

      font-size: 2rem;
    }

    .left__btn {
      position: absolute;
      top: 74%;
      left: 6%;
      background-color: white;
      border-radius: 50%;
      padding: 0.5vmax;
      cursor: pointer;

      font-size: 2rem;
    }
  }
}

//----------------------------MENU__IMG----------------->

.div__row-img {
  user-select: none;
  padding: 5vmax 0 0 0;
}

.Menu {
  padding-top: 5vmax;
  background-color: #fef4fb;
  padding-bottom: 5vmax;

  .menu__container>h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .menu__container {
    .menu__head-sec {
      font-weight: 400;
    }

    .menu__head {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .menu__items {
      gap: 35px;
      background-color: #ececec;
      width: 50vmax;
      margin: 0 auto 35px auto; //For Centering
      border-radius: 25px;

      //Removing Marign From Class p-text
      .p-text {
        margin: 0;
      }

      div {
        padding: 0.6vmax 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      //Active Item Will Have this property
      .item-active {
        background-color: #8bc54b;
        color: white;
        border-radius: 25px;
        padding: 0.6vmax 10px;
      }
    }

    .menu__cards-container {
      flex-wrap: wrap;
      gap: 45px;

      .Card {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

//----------------------------ABOUT-BANNER-START----------------->

.About__Banner {
  margin-top: 50px;
  position: relative;
  overflow: hidden;

  .about__banner {
    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .p-text {
        max-width: 40%;
      }

      .about__logo {
        width: 110px;
        margin-bottom: 40px;
      }

      .about__banner-info {
        margin-left: 3vmax;
        padding-bottom: 80px;

        .ab-head-first {
          font-weight: 400;
          color: #8bc54b;
          margin-bottom: 10px;
          font-size: 35px;
          font-family: "cookie", cursive;
        }

        .ab-head-sec {
          font-size: 40px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        .btn {
          background-color: transparent;
          border: 1px solid #000000;
          color: #ffffff;
          background-color: #000000;
          padding: 10px 20px 10px 20px;
          margin-top: 40px;
          border-radius: 9px;
          font-size: 15px;
        }
        .btn1{
          background-color: transparent;
          border: 1px solid #000000;
          color: #000000;
          padding: 10px 20px 10px 20px;
          margin-top: 40px;
          font-size: 15px;
          margin-left: 40px;
          border-radius: 9px;
        }
      }
    }
  }

  .right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;

    img {
      width: 700px;
      height: 650px;
      border-radius: 25px;
    }
  }
}

// YESSSSSSS SECTION
.ysection{
  padding: 50px;
  background-color: #ffffff;

  h2 {
    
    text-align: center;
    font-family: "cookie", cursive;
    font-size: 50px;
    font-weight: 400;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #54B22C;
  }

  img{
    margin-top: -90px;
  }

}

// text section
.lifestyle{
  background-color: rgb(255, 248, 239);
  padding: 100px;
  margin-top: -40px;
  
  h1{
    margin-left: 500px;
    font-size: 40px;
  }
  .food{
    margin-left: 735px;
    margin-top: -48px;
    color: #54B22C;
  }
  .life{
    color: red;
    margin-left: 635px;
    margin-top: -48px;
  }
  .life1{
    margin-left: 530px;
  }
}


//----------------------------TestimonialS-START----------------->

.Testimonials {
  padding-top: 5vmax;
  padding-bottom: 5vmax;
  background-color: #ffffff;

  h2 {
    font-size: 50px;
    text-align: center;
    margin-left: -270px;
    font-weight: 400;
    // margin-bottom: 50px;
  }
  .enjoy{
    margin-left: 260px;
    margin-top: -60px;
    color: red;
  }
  .live{
    color: #54B22C;
    margin-left: 600px;
    margin-top: -70px;
  }
  .every{
    margin-left: 540px;
    margin-top: -60px;
  }
  img{
    height: 80px;
    width: 160px;
    margin-left: 820px;
    border-radius: 30px;
    margin-top: -70px;
  }
  
}

.test{
  background-color: white;
  justify-content: center;
  padding-left: 290px;
  padding-right: 290px;
  padding-bottom: 50px;
  margin-top: -10px;
  color: rgb(116, 116, 116);
}
.centre{
  margin-left: 100px;
}


.cards{
  background-color: #ffffff;
  .testimonials__container {
    flex-wrap: wrap;
    gap: 65px;
    padding-bottom: 60px;
  }
}

.Home {
  overflow-x: hidden;
}

// Contact community
.last{
  background-color: white;
}
  .contact {
    background-color: #ecffe4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 30px;
  
    .para {
      max-width: 40%;
    }
    .us {
      margin-top: 20px;
      margin-left: 3vmax;
      padding-bottom: 80px;
      margin-bottom: 40px;

      .first {
        margin-top: 50px;
        font-weight: 400;
        color: #ff2f00;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "cookie", cursive;
      }

      .sec {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 650px;
      margin-top: -350px;
    
    
      .form-field {
        display: flex;
        flex-direction: column;
        width: 600px;
    
        label {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        }
    
        input,
        textarea {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        }
    
        textarea {
        height: 200px;
        }
      }
    
      button {
        padding: 10px;
        background-color: #25a929;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-bottom: 50px;
    
        &:hover {
        background-color: #034f06;
        }
      }
      }
    
}

.white{
  background-color: white;
  padding: 50px;
}



/* {---------------------POPULAR-CATEGORY  SECTION START----------------------------} */

.categories {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--fade-yl-bg);


  .categories__main {

    .cat-head {
      h2 {
        text-align: center;
        font-family: "cookie", cursive;
        font-size: 50px;
        font-weight: 400;
      }

      h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 500px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #54B22C;
      }
    }

    .cat_card_wrapper {
      padding: 40px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px 30px;

      img {
        width: 248px;
      }
    }

    .cat-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}