.top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0px 5%;
  background-color: var(--fade-blue);

  .social__icon {
    svg {
      color: white;
      margin-left: 20px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  p {
    color: #ffffff;
    font-size: 19px;
    
  }
}

nav {
  // height: 5rem;
  background-color: #ffffff;
  padding: 10px 0px;
  position: sticky;
  z-index: 10;
  top: 0;
  // box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 70px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
          font-size: 19px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0px 15px;

      svg {
        color: var(--secondary-black);
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}